In [19]:
import pandas as pd

In [32]:
df1 = pd.read_csv('offensive_defensive_ratings6.csv', parse_dates = ['Date']).sort_values('Date')
df2 = pd.read_csv('offensive_defensive_ratings7.csv', parse_dates = ['Date']).sort_values('Date')

In [33]:
df1.columns

Index(['League', 'Season', 'Team_Home', 'Date', 'game_id', 'Goal_Home',
       'Win_Home', 'o_rating_Home', 'd_rating_Home', 'Team_Away', 'Goal_Away',
       'Win_Away', 'o_rating_Away', 'd_rating_Away'],
      dtype='object')

In [34]:
matches_df_long = pd.wide_to_long(df1, ['Team', 'Goal', 'Win', 'o_rating', 'd_rating'], i="game_id", j="isHome", sep='_', suffix='(!?Home|Away)')
# matches_df_long = matches_df_long.drop(['Attendance', 'Round'], 1)
matches_df_long = matches_df_long.reset_index()
matches_df_long.head()

,game_id,isHome,Date,League,Season,Team,Goal,Win,o_rating,d_rating
0,2662,Home,2017-08-04,Ligue1,2017-2018,Monaco,3.0,1,0.633802,0.928669
1,2663,Home,2017-08-05,Ligue1,2017-2018,Paris S-G,2.0,1,1.862248,0.790499
2,2664,Home,2017-08-05,Ligue1,2017-2018,Saint-Étienne,1.0,1,1.351762,0.977121
3,2665,Home,2017-08-05,Ligue1,2017-2018,Montpellier,1.0,1,0.701402,0.994781
4,2666,Home,2017-08-05,Ligue1,2017-2018,Metz,1.0,0,0.722225,0.938748

In [35]:
matches_df_long = matches_df_long[(matches_df_long['Season'] == '2020-2021') & (matches_df_long['League'] == 'EPL')]

In [36]:
matches_df_long.groupby('Team').o_rating.mean().sort_values(ascending=False)

Team
Liverpool          1.378139
Chelsea            1.354646
Manchester City    1.351290
Manchester Utd     1.320622
Arsenal            1.252415
Leeds United       1.159144
Wolves             1.143052
Leicester City     1.096026
Fulham             1.065343
Tottenham          1.059028
Brighton           1.024052
Crystal Palace     1.015428
Aston Villa        1.006634
West Ham           1.005034
Southampton        1.003159
Newcastle Utd      0.995322
Everton            0.986032
West Brom          0.937384
Sheffield Utd      0.918760
Burnley            0.873996
Name: o_rating, dtype: float64

In [37]:
matches_df_long.groupby('Team').d_rating.mean().sort_values(ascending=True)

Team
Liverpool          0.806152
Chelsea            0.847599
Leeds United       0.866778
Leicester City     0.911772
Manchester Utd     0.918020
Manchester City    0.920924
Fulham             0.944888
Wolves             0.947451
Brighton           0.949831
Tottenham          0.957575
Crystal Palace     0.959266
Aston Villa        0.965507
Sheffield Utd      0.966917
West Brom          0.977263
Newcastle Utd      0.987229
Arsenal            0.996881
Burnley            0.997939
Everton            1.019463
West Ham           1.023952
Southampton        1.031478
Name: d_rating, dtype: float64

In [27]:
matches_df_long = pd.wide_to_long(df2, ['Team', 'Goal', 'Win', 'o_rating', 'd_rating'], i="game_id", j="isHome", sep='_', suffix='(!?Home|Away)')
# matches_df_long = matches_df_long.drop(['Attendance', 'Round'], 1)
matches_df_long = matches_df_long.reset_index()
matches_df_long.head()

,game_id,isHome,Date,League,Season,Team,Goal,Win,o_rating,d_rating
0,2662,Home,2017-08-04,Ligue1,2017-2018,Monaco,3.0,1,0.899448,1.088137
1,2663,Home,2017-08-05,Ligue1,2017-2018,Paris S-G,2.0,1,2.428683,1.249024
2,2664,Home,2017-08-05,Ligue1,2017-2018,Saint-Étienne,1.0,1,0.928417,1.199344
3,2665,Home,2017-08-05,Ligue1,2017-2018,Montpellier,1.0,1,0.050142,1.175744
4,2666,Home,2017-08-05,Ligue1,2017-2018,Metz,1.0,0,0.525351,1.117157

In [28]:
matches_df_long = matches_df_long[(matches_df_long['Season'] == '2020-2021') & (matches_df_long['League'] == 'EPL')]

In [29]:
matches_df_long.groupby('Team').o_rating.mean().sort_values(ascending=False)

Team
Liverpool          1.403876
Manchester Utd     1.320695
Manchester City    1.231698
Chelsea            1.209597
Arsenal            0.969565
Wolves             0.860589
Tottenham          0.832662
Fulham             0.799916
Southampton        0.743260
West Ham           0.742395
Crystal Palace     0.735126
Leeds United       0.729407
Leicester City     0.722984
Everton            0.656652
Aston Villa        0.621193
Brighton           0.419292
Newcastle Utd      0.403914
West Brom          0.399054
Burnley            0.242645
Sheffield Utd      0.230137
Name: o_rating, dtype: float64

In [31]:
matches_df_long.groupby('Team').d_rating.mean().sort_values(ascending=False)

Team
Manchester City    1.670266
Arsenal            1.398412
Chelsea            1.293782
Everton            1.240342
Southampton        1.239996
Brighton           1.236389
Liverpool          1.189376
Tottenham          1.178915
Wolves             1.173649
Manchester Utd     1.168103
Leicester City     1.156370
Leeds United       1.155858
West Ham           1.134837
Fulham             1.055223
Sheffield Utd      1.050994
Crystal Palace     1.025473
Newcastle Utd      1.011859
Burnley            0.985129
Aston Villa        0.974778
West Brom          0.960154
Name: d_rating, dtype: float64